
<div class="position-fixed col-2 vh-100 position-relative container overflow-hidden bg-dark text-white" data-bs-theme="dark">
    <nav class="navbar-expand-lg"> <!-- Меню страницы -->
        <div class="border-bottom py-3">
            <a class="navbar-brand" href="">
                <img class="icon" src="/static/apple_shop/images/bootstrap-logo.svg" width="30" height="24">
                Меню
            </a>
        </div>

        <div class="mt-2 py-2" id="btn-index">
            <a class="nav-link" href="../">
                <img class="icon" src="/static/apple_shop/images/house-door.svg" width="30" height="24">
                Главная
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-categories">
            <a class="nav-link" href="../categories/">
                <img class="icon" src="/static/apple_shop/images/speedometer2.svg" width="30" height="24">
                Категории
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-catalog">
            <a class="nav-link" href="../catalog/">
                <img class="icon" src="/static/apple_shop/images/table.svg" width="30" height="24">
                Каталог
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-contacts">
            <a class="nav-link" href="../contacts/">
                <img class="icon" src="/static/apple_shop/images/person-circle.svg" width="30" height="24">
                Контакты
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-owner">
            <a class="nav-link" href="../owner/">
                <img class="icon" src="/static/apple_shop/images/person-workspace.svg" width="30" height="24">
                Владелец
            </a>
        </div>
        <div class="position-absolute bottom-0 start-0 w-100 container">
            <div class="border-top py-3">
                <div class="btn-group dropup">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="icon rounded-circle" src="/static/apple_shop/images/punk.jpeg" width="40" height="40">
                    Пользователь
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li><a class="dropdown-item" href="#">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
