{% extends 'apple_shop/base.html' %}
{% load my_tags %}
{% block optional_styles %}
    <style>
        #btn-catalog {
        background-color: #0d6efd;
        border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<aside> <!-- Боковая панель (сайдбар) -->
    {% include "apple_shop/tools/navbar.html" %}
</aside>

<main>
    <div class="pt-5 pb-5 row">
        <div class="col-2"></div>
        <div class="col-10">
            <h1 class="pt-5 pb-5 text-center">Каталог</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <div class="row">
                {% for category in categories %}
                    <div class="card col-5 my-2 ms-3 me-3 px-0">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                {% if category.photo %}
                                <img src="{{ category.photo | media_filter }}" class="card-img-top mx-auto d-block mt-2" height="150px">
                                {% else %}
                                    <p>Фотографии товаров категории отсутствуют</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ category.description |truncatechars:150 }}</p>
                            <div class="row">
                                <div class="btn-group btn-group-sm col-3" role="group">
                                    <a href="{% url 'apple_shop:category_detail' category.pk %}" class="btn btn-outline-secondary" role="button">Подробнее</a>
                                    <a href="{% url 'apple_shop:owner'%}" class="btn btn-outline-secondary" role="button">Добавить</a>
                                </div>
                                <div class="col-6"></div>
                                <div class="col-3 text-end text-secondary"><small>9 mins</small></div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}