<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>Homework 27 Alyautdinov R.T.</title>
</head>
<body>
    <aside> <!-- Боковая панель (сайдбар) -->
        <div class="position-fixed col-2 vh-100 position-relative container overflow-hidden bg-dark text-white" data-bs-theme="dark">
            <nav class="navbar-expand-lg"> <!-- Меню страницы -->
                <div class="border-bottom py-3">
                    <a class="navbar-brand" href="">
                        <img class="icon" src="/static/images/bootstrap-logo.svg" width="30" height="24">
                        Меню
                    </a>
                </div>

                <div class="mt-2 py-2">
                    <a class="nav-link" href="../">
                        <img class="icon" src="/static/images/house-door.svg" width="30" height="24">
                        Главная
                    </a>
                </div>
                <div class="mt-2 py-2">
                    <a class="nav-link" href="../categories/">
                        <img class="icon" src="/static/images/speedometer2.svg" width="30" height="24">
                        Категории
                    </a>
                </div>
                <div class="mt-2 py-2 bg-primary rounded">
                    <a class="nav-link" href="../catalog/">
                        <img class="icon" src="/static/images/table.svg" width="30" height="24">
                        Каталог
                    </a>
                </div>
                <div class="mt-2 py-2">
                    <a class="nav-link" href="../contacts/">
                        <img class="icon" src="/static/images/person-circle.svg" width="30" height="24">
                        Контакты
                    </a>
                </div>
                <div class="position-absolute bottom-0 start-0 w-100 container">
                    <div class="border-top py-3">
                        <div class="btn-group dropup">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="icon rounded-circle" src="/static/images/punk.jpeg" width="40" height="40">
                            Пользователь
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Профиль</a></li>
                                <li><a class="dropdown-item" href="#">Выход</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </aside>
    <main>

        <div class="pt-5 pb-5 row">
            <div class="col-2"></div>
            <div class="col-10">
                <h1 class="pt-5 pb-5 text-center">Каталог</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4 ms-5 me-5">
                <div class="card ps-0 pe-0 w-100">
                    <img src="/static/images/Iphone.jpg" class="card-img-top w-25 mx-auto d-block mt-2"/>
                    <div class="card-body">
                        <p class="card-text">Самые тонкие рамки — чтобы экран стал еще больше. Выберите свой стиль фотографии. Быстро. Плавно. Оцените новые возможности с Camera Control. В экстренных ситуациях iPhone всегда придет на помощь. </p>
                        <div class="row">
                            <div class="btn-group btn-group-sm col-3" role="group">
                                <button type="button" class="btn btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-outline-secondary">Edit</button>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-3 text-end text-secondary"><small>9 mins</small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 ms-5 me-5">
                <div class="card ps-0 pe-0 w-100">
                    <img src="/static/images/macbook.jpg" class="card-img-top w-50 mx-auto d-block mt-2"/>
                    <div class="card-body">
                        <p class="card-text">Изящный. Мощный. MacBook с легкостью справляется как с работой, так и с развлечениями, самый востребованный ноутбук в мире. MacBook будет вашим надежным спутником в любых ситуациях.</p>
                        <div class="row">
                            <div class="btn-group btn-group-sm col-3" role="group">

                                <button type="button" class="btn btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-outline-secondary">Edit</button>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-3 text-end text-secondary"><small>9 mins</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-2"></div>
            <div class="col-4 ms-5 me-5">
                <div class="card ps-0 pe-0 w-100">
                    <img src="/static/images/ipad.jpg" class="card-img-top w-25 mx-auto d-block mt-2"/>
                    <div class="card-body">
                        <p class="card-text">Невероятно тонкий и лёгкий дизайн. Невообразимая мощность и портативность. Потрясающая производительность, революционная графика и широкие возможности искусственного интеллекта.</p>
                        <div class="row">
                            <div class="btn-group btn-group-sm col-3" role="group" aria-label="Простой пример">

                                <button type="button" class="btn btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-outline-secondary">Edit</button>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-3 text-end text-secondary"><small>9 mins</small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 ms-5 me-5">
                <div class="card ps-0 pe-0 w-100">
                    <img src="/static/images/watch.jpg" class="card-img-top w-25 mx-auto d-block mt-2"/>
                    <div class="card-body">
                        <p class="card-text">Звоните, отправляйте сообщения и слушайте музыку, даже когда ваш iPhone не рядом. Получайте информацию о состоянии здоровья круглосуточно. Отслеживайте свою активность и тренировки.</p>
                        <div class="row">
                            <div class="btn-group btn-group-sm col-3" role="group" aria-label="Простой пример">

                                <button type="button" class="btn btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-outline-secondary">Edit</button>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-3 text-end text-secondary"><small>9 mins</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>