{% extends 'apple_shop/base.html' %}

{% block optional_styles %}
    <style>
        #btn-index {
        background-color: #0d6efd;
        border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<aside> <!-- Боковая панель (сайдбар) -->
    {% include "apple_shop/tools/navbar.html" %}
</aside>

<main>
    <div class="pt-5 row">
        <div class="col-2"></div>
        <div class="col-10">
            <h1 class="pt-5 mt-4 text-center">Главная</h1>
            <p class="text-secondary pb-3 text-center">Вы находитесь на сайте, предназначенном для продажи товаров.</p>
        </div>
    </div>

    <div class="row">

        <div class="col-3"></div>
        <div class="col-9">
            <div class="row">
                {% for product in page_obj %}
                <div class="card col-3 ps-0 pe-0 text-center ms-4 me-5 my-3 container">
                    <div class="card-header">
                        {{ product.name }}
                    </div>
                    <div class="card-body">
                        <h2>{{ product.price_per_unit }} руб.</h2>
                        <p class="pb-4">{{ product.description | truncatechars:100 }}</p>
                        <div class="position-absolute bottom-0 start-0 w-100 container">
                           <a href="{% url 'apple_shop:product_detail' product.pk %}" class="btn btn-outline-primary w-100 my-2" role="button">Подробнее</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="position-fixed position-absolute bottom-0 start-50">
            <nav>
              <ul class="pagination">
                  {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                  {% endif %}
                  <li class="page-item page-link">
                      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                  </li>
                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Следующая">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  {% endif %}
              </ul>
            </nav>
        </div>
    </div>
</main>
{% endblock %}
