SECRET_KEY = "django-insecure-zws-(v-smh$=fxliq+a&k!q+ofv+9(&@3b^7nrwkk%ta95kl^$" (Я не знаю возможно ли посмотреть приложение без секретного ключа, поэтому он пока остается)

DEBUG = 'True' / 'False' - режим отладки

NAME = 'имя БД для проверки ДЗ'
USER = 'имя пользователя postgreSQL'
PASSWORD =  'пароль пользователя postgreSQL'
HOST = 'хост'
PORT = 'порт'
