{% extends 'apple_shop/base.html' %}

{% block optional_styles %}
    <style>
        #btn-owner {
        background-color: #0d6efd;
        border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<aside> <!-- Боковая панель (сайдбар) -->
    {% include "apple_shop/tools/navbar.html" %}
</aside>

<main>
    <div class="pt-5 pb-2 row">
        <div class="col-2"></div>
        <div class="col-10">
            <h1 class="pt-5 text-center">Владелец</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            {% if product %}
            <p class="text-center">Здесь вы можете отредактировать товары интернет-магазина.</p>
            {% else %}
            <p class="text-center">Здесь вы можете добавить новые товары в интернет-магазин.</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-5 ms-5 me-5">
            <div class="card px-3 py-3 w-100">
                <form action="#" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ form.non_field_errors }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary">
                        {% if product %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                        </button>
                        <a href="{% url 'apple_shop:index' %}" class="btn btn-outline-secondary">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
