{% extends 'apple_shop/base.html' %}
{% load my_tags %}
{% block optional_styles %}
    <style>
        #btn-categories {
        background-color: #0d6efd;
        border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<aside> <!-- Боковая панель (сайдбар) -->
    {% include "apple_shop/tools/navbar.html" %}
</aside>

<main>
    <div class="pt-5 pb-5 row">
        <div class="col-2"></div>
        <div class="col-10">
            <h1 class="pt-5 text-center">{{ product.name }}</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-3"></div>
        <div class="card col-8 ps-0 pe-0 ms-4 me-5 my-3 container">
            <div class="card-header text-center">
                Данные о товаре {{ product.name }}
            </div>
            <div class="card-body">
                <div class="text-center">
                {% if product.photo %}
                    <img src="{{ product.photo | media_filter }}" width="250px" height="300px">
                {% else %}
                    <p>Фотографии товара отсутствуют</p>
                {% endif %}
                </div>
                <p>Цена: {{ product.price_per_unit }} руб.</p>
                <p>Описание: {{ product.description }}</p>
                <p>Категория: {{ product.category }}</p>
                <p>Дата создания карточки товара: {{ product.created_at | date:"d.m.Y" }}</p>
                <p>Дата обновления карточки товара: {{ product.updated_at | date:"d.m.Y" }}</p>
                <div class="w-100 container text-center">
                    <a href="#" class="btn btn-outline-primary w-25 my-2" role="button">Купить</a>
                    <a href="{% url 'apple_shop:product_update' product.pk %}" class="btn btn-outline-secondary w-25 my-2" role="button">Редактировать</a>
                    <a href="{% url 'apple_shop:product_delete' product.pk %}" class="btn btn-outline-danger w-25 my-2" role="button">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
