{% load my_tags %}

<div class="position-fixed col-2 vh-100 position-relative container overflow-hidden bg-dark text-white" data-bs-theme="dark">
    <nav class="navbar-expand-lg"> <!-- Меню страницы -->
        <div class="border-bottom py-3">
             <div class="btn-group">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="icon" src="/static/navbar/bootstrap-logo.svg" width="30" height="24">
                    Меню
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'apple_shop:index' %}">Магазин</a></li>
                    <li><a class="dropdown-item" href="{% url 'blog:index' %}">Блог</a></li>
                </ul>
             </div>
        </div>

        <div class="mt-2 py-2" id="btn-index">
            <a class="nav-link" href="{% url 'apple_shop:index' %}">
                <img class="icon" src="/static/navbar/house-door.svg" width="30" height="24">
                Главная
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-categories">
            <a class="nav-link" href="{% url 'apple_shop:category_list' %}">
                <img class="icon" src="/static/navbar/speedometer2.svg" width="30" height="24">
                Категории
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-catalog">
            <a class="nav-link" href="{% url 'apple_shop:catalog' %}">
                <img class="icon" src="/static/navbar/table.svg" width="30" height="24">
                Каталог
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-contacts">
            <a class="nav-link" href="{% url 'apple_shop:contacts' 1 %}">
                <img class="icon" src="/static/navbar/person-circle.svg" width="30" height="24">
                Контакты
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-owner">
            <a class="nav-link" href="{% url 'apple_shop:owner' %}">
                <img class="icon" src="/static/navbar/person-workspace.svg" width="30" height="24">
                Владелец
            </a>
        </div>
        <div class="position-absolute bottom-0 start-0 w-100 container text-center">
            <div class="border-top py-3">
                {% if user.is_authenticated %}
                <div class="btn-group dropup">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.avatar %}
                        <img class="icon rounded-circle" src="{{ user.avatar | media_filter }}" width="40" height="40">
                        {% endif %}
                    {{ user.email | truncatechars:15 }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-start" href="#">Профиль</a></li>
                        <li class="text-start">
                            <form method="post" action="{% url 'users:logout' %}" class="dropdown-item">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">Выход</button>
                            </form>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="text-center">
                    <div class="btn-group btn-group" role="group">
                    <a href="{% url 'users:register' %}" class="btn btn-dark" role="button">Регистрация</a>
                    <a href="{% url 'users:login' %}" class="btn btn-dark" role="button">Вход</a>
                </div>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
