
<div class="position-fixed col-2 vh-100 position-relative container overflow-hidden bg-dark text-white" data-bs-theme="dark">
    <nav class="navbar-expand-lg"> <!-- Меню страницы -->
        <div class="border-bottom py-3">
             <div class="btn-group">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="icon" src="/static/navbar/bootstrap-logo.svg" width="30" height="24">
                    Меню
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'apple_shop:index' %}">Магазин</a></li>
                    <li><a class="dropdown-item" href="{% url 'blog:index' %}">Блог</a></li>
                </ul>
             </div>
        </div>

        <div class="mt-2 py-2" id="btn-index">
            <a class="nav-link" href="{% url 'apple_shop:index' %}">
                <img class="icon" src="/static/navbar/house-door.svg" width="30" height="24">
                Главная
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-categories">
            <a class="nav-link" href="{% url 'apple_shop:category_list' %}">
                <img class="icon" src="/static/navbar/speedometer2.svg" width="30" height="24">
                Категории
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-catalog">
            <a class="nav-link" href="{% url 'apple_shop:catalog' %}">
                <img class="icon" src="/static/navbar/table.svg" width="30" height="24">
                Каталог
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-contacts">
            <a class="nav-link" href="{% url 'apple_shop:contacts' 1 %}">
                <img class="icon" src="/static/navbar/person-circle.svg" width="30" height="24">
                Контакты
            </a>
        </div>
        <div class="mt-2 py-2" id="btn-owner">
            <a class="nav-link" href="{% url 'apple_shop:owner' %}">
                <img class="icon" src="/static/navbar/person-workspace.svg" width="30" height="24">
                Владелец
            </a>
        </div>
        <div class="position-absolute bottom-0 start-0 w-100 container">
            <div class="border-top py-3">
                <div class="btn-group dropup">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="icon rounded-circle" src="/static/navbar/nyancat.gif" width="40" height="40">
                    Пользователь
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li><a class="dropdown-item" href="#">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
