{% extends 'blog/base.html' %}
{% load my_tags %}
{% block optional_styles %}
    <style>
        #btn-index {
        background-color: #0d6efd;
        border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<aside> <!-- Боковая панель (сайдбар) -->
    {% include "blog/tools/navbar.html" %}
</aside>

<main>
    <div class="pt-5 pb-5 row">
        <div class="col-2"></div>
        <div class="col-10">
            <h1 class="pt-5 pb-5 text-center">Главная</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <div class="row">
                {% for article in articles %}
                    <div class="card col-5 my-2 ms-3 me-3 px-0">
                        {% if article.preview %}
                        <img src="{{ article.preview | media_filter }}" class="card-img-top mx-auto d-block" height="200px">
                        {% else %}
                            <p class="text-center">Превью отсутствует</p>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="text-center">{{ article.title |truncatechars:50 }}</h4>
                            <p class="card-text mb-4">{{ article.body |truncatechars:300 }}</p>
                            <div class="row position-absolute bottom-0 my-2">
                                <div class="btn-group btn-group-sm col-3" role="group">
                                    <a href="{% url 'blog:article_detail' article.pk %}" class="btn btn-outline-primary" role="button">Подробнее</a>
                                    <a href="{% url 'blog:article_update' article.pk %}" class="btn btn-outline-secondary" role="button">Редактировать</a>
                                    <a href="{% url 'blog:article_delete' article.pk %}" class="btn btn-outline-danger" role="button">Удалить</a>
                                </div>
                                <div class="col-5"></div>
                                <div class="col-4 text-end text-secondary"><small>Просмотров: {{ article.views_count}}</small></div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}