{% extends 'blog/base.html' %}
{% load my_tags %}
{% block optional_styles %}
    <style>
        #btn-owner {
        background-color: #0d6efd;
        border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<aside> <!-- Боковая панель (сайдбар) -->
    {% include "blog/tools/navbar.html" %}
</aside>

<main>
    <div class="pt-5 pb-2 row">
        <div class="col-2"></div>
        <div class="col-10">
            <h1 class="pt-5 text-center">Владелец</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <p class="text-center">Здесь вы можете добавить новую статью в блог</p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-5 ms-5 me-5 text-center">
            <div class="card px-3 py-3 w-100">
                <form action="#" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Опубликовать</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block optional_scripts %}
<script>
    window.addEventListener('load', () => {
      if (performance.navigation.type === 2) {
        document.querySelector('form').reset();
      }
    });
    window.addEventListener('pageshow', (event) => {
      if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
        document.querySelector('form').reset();
      }
    });
</script>
{% endblock %}
